.category-selection {
    margin-bottom: 15px;
}

.note-input {
    padding: 10px;
    margin-bottom: 15px;
}

.note-list {
    overflow-y: auto;
    // @media (max-width:700px)  {
    //     max-height: 50vh;
        
    // }
}


.ducky-note {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #bdbdbd;
}