<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="week-picker">
      Choose Date:
      <p-calendar [(ngModel)]="weekPickerDate" (ngModelChange)="onWeekPickerDateChange()" showIcon="true" dateFormat="mm/dd/yy"
        [style]="{'width': '160px'}"></p-calendar>
    </div>
    <div class="week-date-range-display">
      <strong>{{mondayDisplayString}}</strong> to <strong>{{sundayDisplayString}}</strong>
    </div>
    <div class="week-display">
      <div *ngFor="let dayOfWeek of week" class="week-day">
        <dd-week-day [date]="dayOfWeek"></dd-week-day>
      </div>
    </div>
  </div>
</div>