/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

    @media (min-width: 1025px) {
        .layout-container.menu-layout-horizontal .layout-main {
            padding-top: 80px;
        }

        button.ui-button {
            height: 1.8em;
            .ui-button-text {
                line-height: 1.8em;
            }
        }
    }

    .dd-logo {
        font-family: 'Cinzel Decorative', cursive;
        font-weight: 100;
        margin: 0; 
        font-size: 2.5em;
    }

    @media (max-width:700px)  {
        .dd-logo {
            font-size: 1.5em;
        }
    }

    .clickable-icon {
        cursor: pointer;

        &:hover {
            text-shadow: 0px 0px 5px #858585;
        }
    }

    .text-center {
        text-align: center;
    }
    
    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }
}
